@model List<ResultCarPricingListWithModelDto>

    @{
        var shortedModel = Model.OrderBy(item => item.Brand).Take(7);
    }

<div class="col-xl-6">
    <div class="card">
        <div class="card-body">

            <h4 class="card-title">Araç Kiralama Ücretleri</h4>
            <p class="card-subtitle mb-4 font-size-13">
                Bazı araçların günlük, haftalık ve aylık kiralama ücretleri.
            </p>

            <div class="table-responsive">
                <table class="table table-centered table-hover table-xl mb-0" id="recent-orders">
                    <thead>
                        <tr>
                            <th class="border-top-0">Marka</th>
                            <th class="border-top-0">Model</th>
                            <th class="border-top-0">Günlük Fiyat</th>
                            <th class="border-top-0">Haftalık Fiyat</th>
                            <th class="border-top-0">Aylık Fiyat</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in shortedModel)
                        {
                            <tr>
                                <td class="text-truncate">@item.Brand</td>
                                <td class="text-truncate">@item.model</td>
                                @* <td>
                            <span class="badge badge-soft-secondary p-2">Test</span>
                            </td> *@
                                <td class="text-truncate">₺ @item.dailyAmount</td>
                                <td class="text-truncate">₺ @item.weeklyAmount</td>
                                <td class="text-truncate">₺ @item.monthlyAmount</td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div class="d-flex justify-content-end">
                    <a href="#" class="btn btn-success mt-3">Daha Fazla Görüntüle</a>
                </div>
            </div>

        </div>
    </div>
</div>