
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/UILayout/Index.cshtml";
}

<h1>Filtre Detaylar</h1>

@ViewBag.locationID = locationID;
@ViewBag.book_pick_date = book_pick_date;
@ViewBag.book_off_date = book_off_date;
@ViewBag.time_pick = time_pick;
@ViewBag.time_off = time_off;

